[submodule "optee/build"]
	path = optee/build
	url = https://github.com/OP-TEE/build.git
[submodule "optee/optee_os"]
	path = optee/optee_os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "optee/optee_client"]
	path = optee/optee_client
	url = https://github.com/OP-TEE/optee_client.git
[submodule "rust/rust"]
	path = rust/rust
	url = git@github.com:mesalock-linux/rust.git
	branch = aarch64-unknown-optee-trustzone
[submodule "rust/libc"]
	path = rust/libc
	url = git@github.com:mesalock-linux/libc.git
	branch = aarch64-unknown-optee-trustzone
[submodule "rust/compiler-builtins"]
	path = rust/compiler-builtins
	url = git@github.com:mesalock-linux/compiler-builtins.git
	branch = aarch64-unknown-optee-trustzone
