[submodule "optee/build"]
	path = optee/build
	url = https://github.com/OP-TEE/build.git
[submodule "optee/optee_os"]
	path = optee/optee_os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "optee/optee_client"]
	path = optee/optee_client
	url = https://github.com/OP-TEE/optee_client.git
[submodule "rust/rust"]
	path = rust/rust
	url = https://github.com/RMheng/rust.git
	branch = update_v1.56.1-new
[submodule "rust/libc"]
	path = rust/libc
	url = https://github.com/RMheng/libc.git
	branch = update_v0.2.99
[submodule "rust/compiler-builtins"]
	path = rust/compiler-builtins
	url = https://github.com/RMheng/compiler-builtins.git
	branch = update_v0.1.44
